/*head*/
body{
	font-family: '微软雅黑'
}
.head{
	background: #169ADA;
}
.head .funcs{
}
.head .search-box{
	background: #157FB2;
	border-top:1px solid #1179AC;
	border-bottom: 1px solid #1179AC;
}

/*main*/
.main{
	/* background: #E8F5FC; */
}
.main .option{
	
}

/*foot*/
.foot{
	border-top:1px solid #A9D9F1;
	background: #CBE9F7;
}