/*-----------------主界面css----------------*/
.qbox{
	width: 100%;
	min-height: 302px;
	border-radius: 3px;
	box-shadow: 0 1px 8px #939aa7;
	-webkit-transform: translateY(-2px);
	-webkit-transition: -webkit-transform .2s ease, box-shadow .2s ease, border .2s ease;
}

/*head*/
.head{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 142px;
	overflow: hidden;
}
.head .funcs{
	height: 37px;
}
.head .search-box{
	padding:0px 10px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color:#ffffff;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
.head .search-box .search-button{
	width: 18px;
	height: 30px;
	display: block;
	float: right;
	background: url(../img/icons.png) no-repeat 0px -103px;
}

.head .top{
	height: 100px;
	padding:3px 8px 8px 8px;
}
.head .top .logo_quick{
	color: #ffffff;
	height: 20px;
}
.head .top .logo{
	width:100px;
	float: left;
	height: 20px;
	overflow: hidden;
	font-size:12px;
	font-family: 'Arial',
}
.head .top .quicks{
	float: right;
	margin-top: 3px;
	width: 55px;
	height: 11px;
}
.head .top .quicks a{
	float: right;
	height: 11px;
	width: 11px;
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	margin-left: 15px;
}
.head .top .quicks a.to_small{
	background-position: -19px -2px;
}
.head .top .quicks a.to_close{
	background-position: 0px 0px;
}

/*main 共442px*/
.main{
	
}
.main .options{
	height: 36px;
	border-bottom: 1px solid #D9DFE2;
}
.main .options li{
	cursor: pointer;
	height: 36px;
	display: block;
	width: 33.3%;
	float: left;
	list-style: none;
	margin:0px;
	padding:0px;
}
.main .options li span{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/options-gray.png) no-repeat;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	display: block;
	margin:8px auto 0px auto;
}
.main .options li span:hover{
	background: url(../img/options.png) no-repeat;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.main .options li.current span{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	background: url(../img/options.png) no-repeat;
}
.main .options li.o-contacts span{
	background-position: 0px 0px;
}
.main .options li.o-groups  span{
	background-position: -40px 0px;
}
.main .options li.o-lasts  span{
	background-position: -80px 0px;
}
.main .options li i{
	display: none;
	z-index: 5;
	margin:3px auto 0px auto;
	width: 12px;
	height: 6px;
	background:url(../img/icons.png) no-repeat 0px -84px;
}
.main .options li.current i{
	display: block;
}
.main .main-box{
	margin:0px;
	padding:0px;
	font-size:13px;
	overflow-y: scroll;
	overflow-x:hidden;
}
.main .main-box > ul{
	display: none;
}
.main .main-box li{
	color: #000000;
}
.main .main-box .contacts > li{
	height: 27px;
	line-height: 27px;
	padding-left: 12px;
}
.main .main-box .contacts > li:hover{
	background-color: #F4F9FA;
}
.main .main-box .contacts > li .g-o-c{
	-webkit-transition: -webkit-transform 0.1s ease-out;
	-moz-transition: -moz-transform 0.1s ease-out;
	-o-transition: -o-transform 0.1s ease-out;
	-ms-transition: -ms-transform 0.1s ease-out;
	display: block;
	width: 16px;
	height: 12px;
	float: left;
	margin-top: 8px;
	background: url(../img/icons.png) no-repeat 0px -23px;
	opacity:0.5;
}
.main .main-box .contacts > li .g-o-c:hover{
	opacity:1;
}
.main .main-box .contacts > li.current{
	padding-left: 10px;
}
.main .main-box .contacts > li.current .g-o-c{
	background: url(../img/icons.png) no-repeat 5px -23px;
	opacity:1;
	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
	margin-right: 2px;
}
.main .main-box .friends{
	display: none;
	padding-left:10px;
}
.main .main-box .friends li{
	position: relative;
	height: 40px;
	padding: 5px 0px;
	margin-bottom: 3px;
}
.main .main-box .friends li:hover{
	background: #FDEDAF;
}
.main .main-box .friends .face{
	width: 40px;
	height: 40px;
	border: 0px;
	border-radius: 3px;
	float: left;
}
.main .main-box .friends .infos{
	font-size: 12px;
	float: left;
	position: absolute;
	overflow: hidden;
	display: block;
	height: 31px;
	margin:5px 10px 0px 50px;
}
.main .main-box .friends .infos p{
	color: #7F7F7F;
}
.main .main-box .friends .infos p i{
	font-style: normal;
}

/*foot*/
.foot{
	height: 59px;
}