/*-----------------公共css----------------*/
body,html{
	margin:0px;
	padding:0px;
}
ul,li{
	margin:0px;
	padding:0px;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
p,h1,h2,h3 {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	margin:0px;
	padding:0px;
}
.hide{
	display: none!important;
}
.show{
	display: block!important;
}
